<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <form
          class="was-validated"
          #userForm="ngForm"
          (ngSubmit)="addUser(userForm)"
        >
          <input
            type="hidden"
            name="_id"
            [(ngModel)]="userService.selectedUser._id"
          />

          <div class="form-group">
            <label class="form-label" for="name">Nombre</label>
            <input
              name="name"
              type="text"
              minlength="3"
              class="form-control"
              id="name"
              required
              placeholder="Escribe tu nombre"
              [(ngModel)]="userService.selectedUser.name"
            />
            <div class="invalid-feedback">
              Al menos tres letras
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="surname">Apellido/s</label>
            <input
              name="surname"
              type="text"
              class="form-control"
              minlength="3"
              id="surname"
              required
              placeholder="Escribe tu/s apellido/s"
              [(ngModel)]="userService.selectedUser.surname"
            />
            <div class="invalid-feedback">
              Al menos tres letras
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="age">Edad</label>
            <input
              type="number"
              class="form-control"
              id="age"
              min="1"
              max="125"
              required
              name="age"
              title="Debe poner del 1 al 125"
              placeholder="Escribe tu edad"
              [(ngModel)]="userService.selectedUser.age"
            />
            <div class="invalid-feedback">
              Debe poner del 1 al 125
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="dni">DNI</label>
            <input
              type="text"
              class="form-control"
              maxlength="9"
              size="9"
              id="dni"
              name="dni"
              required
              pattern="(([X-Z]{1})([-]?)(\d{7})([-]?)([A-Z]{1}))|((\d{8})([-]?)([A-Z a-z]{1}))"
              title="Debe poner 8 números y una letra"
              placeholder="Escribe tu DNI"
              [(ngModel)]="userService.selectedUser.dni"
            />
            <div class="invalid-feedback">
              Debe poner 8 números y una letra
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="bday">Fecha de nacimiento</label>
            <input
              class="form-control"
              type="date"
              id="bday"
              placeholder="Fecha de nacimiento"
              name="bday"
              format="DD-MM-YYYY"
              max="2021-01-01"
              min="1900-12-01"
              required
              placeholder="Fecha de nacimiento"
              [(ngModel)]="userService.selectedUser.bday"
            />
          </div>
          <div class="form-group">
            <p>Introduce el valor hexadecimal o selecciona color en la banda</p>
            <label class="form-label" for="myColor">Color favorito</label>
            <input
              name="favColor"
              class="form-control color-picker"
              required
              type="text"
              id="myColor"
              pattern="^#([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$"
              value="#ffffff"
              placeholder="#FF0000 or #F00"
              [(ngModel)]="userService.selectedUser.favColor"
            />

            <label class="form-label" for="secondColor">Banda de color</label>
            <input
              name="favColor"
              class="color-picker2"
              type="color"
              id="secondColor"
              value="#ffffff"
              pattern="^#([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$"
              placeholder="#FF0000 or #F00"
              [(ngModel)]="userService.selectedUser.favColor"
            />
            <div class="form-group">
              <label class="form-label" for="sex">Sexo</label>
              <select
                class="form-select"
                id="sexo"
                required
                name="sex"
                [(ngModel)]="userService.selectedUser.sex"
              >
                <!-- <option disabled selected value="">Selecciona...</option>
                <option>Mujer</option>
                <option>Hombre</option>
                <option>No binario</option>
                <option>No me identifico con ninguno de los descritos</option> -->
                <option selected disabled value="">Selecciona...</option>
                <option *ngFor="let sexo of sex; let i = index" [value]="sexo">
                  {{ sex[i] }}
                </option>
              </select>

              <div class="invalid-feedback">
                Por favor selecciona una opción válida.
              </div>
            </div>
          </div>
          <button class="btn btn-secondary m-2" (click)="resetForm(userForm)">
            Borrar
          </button>
          <button class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Índice</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Edad</th>
          <th>DNI</th>
          <th>Fecha de nacimiento</th>
          <th>Color favorito</th>
          <th>Sexo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userService.users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.name | titlecase }}</td>
          <td>{{ user.surname | titlecase }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.dni }}</td>
          <td>{{ user.bday | date: "mediumDate" }}</td>
          <td>{{ user.favColor }}</td>
          <td>{{ user.sex }}</td>
          <td class="buttons">
            <button class="btn btn-sm btn-primary" (click)="editUser(user)">
              <i class="material-icons">edit</i>
            </button>
            <button
              class="btn btn-sm btn-danger"
              (click)="deleteUser(user._id)"
            >
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
